html, body {
    height: 100%;
    margin: 0;
}

body {
    color: #4d4d4d;
    font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;
}

.navbar-scrum {
    /*background-color: #009688;*/
}

.full-height {
    height: 100%;
}

.height-minus-navbar {
    height: calc(100% - 53px);
}

.app-container {
    height: 100%;
}

.img-navbar {
    max-height: 22px;
    margin: 0 5px;
    display: inline-block;
}

.m0 {
    margin: 0 !important;
}

.mtop20 {
    margin-top: 20px;
}

.board-navbar {
    background-color: #f8f8f8;
    padding: 4px;
    height: 32px;
    margin-bottom: 10px;
}

.board-sprint-select {
    width: 270px;
    display: inline-block;
    height: 24px;
    padding: 3px 6px;
    font-size: 14px;
    line-height: 1.42857143;
}

.board-sprint-btn-add {
    height: 24px;
    padding: 3px 6px;
    margin-top: -4px;
}

/***************************** Required styles *****************************/

/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
ul[dnd-list],
ul[dnd-list] > li {
    position: relative;
}

/***************************** Dropzone Styling *****************************/

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
ul[dnd-list] {
    min-height: 42px;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

/**
 * Reduce opacity of elements during the drag operation. This allows the user
 * to see where he is dropping his element, even if the element is huge. The
 * .dndDragging class is automatically set during the drag operation.
 */
.dndDragging {
    opacity: 0.7;
}

/**
 * The dndDraggingSource class will be applied to the source element of a drag
 * operation. It makes sense to hide it to give the user the feeling that he's
 * actually moving it. Note that the source element has also .dndDragging class.
 */
.dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be added as child of the dnd-list
 * while the user is dragging over it.
 */
.dndPlaceholder {
    background-color: #ddd;
    min-height: 42px;
    display: block;
    position: relative;
}

/**
 * Tasks
 */
.board-container {
    height: 100%;
}

.task-list-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    height: 100%;
    max-height: 100%;
}

.board-container .task-list-container {
    height: calc(100% - 42px);
}

.task-list {
    background-color: #e2e4e6;
    border-radius: 3px;
    max-height: 100%;
    /*padding: 0 9px 0 5px;*/
    margin-right: 5px;
    margin-left: 10px;

    height: 95%;

    width: 285px;
    display: inline-block;
    vertical-align: top;
}

.task-list ul {
    height: calc(100% - 40px);
    overflow-y: auto;

    margin: 0 2px 0 4px;
    padding: 0 7px 0 5px;
}

.task-list-header {
    display: block;
    font-size: 15px;
    line-height: 18px;
    margin: 0;
    min-height: 19px;
    min-width: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    padding: 8px 10px;
}

.task-list-header h2 {
    display: inline;
    font-size: 15px;
    line-height: 18px;
    margin: 0;
    min-height: 19px;
    min-width: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.task {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 6px;
    display: block;
}

.task-name {
    padding: 10px 15px;
}

.task-assigned-to {
    float: right;
    padding: 5px;
    height: 42px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent
}

::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, .05)
}

::-webkit-scrollbar-thumb:vertical {
    background: rgba(0, 0, 0, .2);
    border-radius: 100px;
    background-clip: padding-box;
    border: 2px solid transparent;
    min-height: 10px
}

::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(0, 0, 0, .3);
    -webkit-border-radius: 100px
}

::-webkit-scrollbar-thumb:horizontal {
    background: rgba(0, 0, 0, .2);
    border-radius: 100px;
    background-clip: padding-box;
    border: 2px solid transparent;
    min-width: 10px;
    height: 2px !important;
}

::-webkit-scrollbar-thumb:horizontal:active {
    background: rgba(0, 0, 0, .3);
    -webkit-border-radius: 100px
}