@import url(https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,500,400italic,500italic,700,700italic&subset=latin,cyrillic-ext,cyrillic);

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.app-container {
    height: 100%;
}

/**
 * Scrollbars
 */

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent
}

::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, .05)
}

::-webkit-scrollbar-thumb:vertical {
    background: rgba(0, 0, 0, .2);
    border-radius: 100px;
    background-clip: padding-box;
    border: 2px solid transparent;
    min-height: 10px
}

::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(0, 0, 0, .3);
    -webkit-border-radius: 100px
}

::-webkit-scrollbar-thumb:horizontal {
    background: rgba(0, 0, 0, .2);
    border-radius: 100px;
    background-clip: padding-box;
    border: 2px solid transparent;
    min-width: 10px;
    height: 2px !important;
}

::-webkit-scrollbar-thumb:horizontal:active {
    background: rgba(0, 0, 0, .3);
    -webkit-border-radius: 100px
}

/**
 * Helpers
 */
.m0 {
    margin: 0 !important;
}

.m5 {
    margin: 5px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.mb50 {
    margin-bottom: 50px !important;
}

.p10 {
    padding: 10px !important;
}

.pull-right {
    float: right;
}

/**
 * Landing page
 */
.landing-page-background {
    background-image: url('../images/landing-page-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.landing-page-content {
    text-align: center;
}

.landing-page-content h1 {
    text-transform: uppercase;
    font-weight: 300;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    color: #555;
    font-size: 63px;
    line-height: 1;
    letter-spacing: 0px;
}

.landing-page-content h2 {
    font-weight: 400;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    color: #555;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0px;
}

.landing-page-content h2 {
    font-weight: 500;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    color: #555;
}

/**
 * Navbar
 */
.navbar-scrum {
    min-height: 0;
}

.navbar-scrum-toolbar-tools {
    height: 52px;
    max-height: 52px;
}

.img-navbar {
    max-height: 32px;
    border-radius: 50%;
    margin: 0 5px;
    display: inline-block;
}

.board-navbar {
    color: black !important;
    background-color: #f8f8f8 !important;
    height: 48px !important;
    max-height: 48px !important;
    min-height: 48px !important;
}

.board-navbar md-icon {
    color: black !important;
}

/***************************** Required styles *****************************/

/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
md-list[dnd-list],
md-list[dnd-list] > li {
    position: relative;
}

/***************************** Dropzone Styling *****************************/

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
md-list[dnd-list] {
    min-height: 42px;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

/**
 * Reduce opacity of elements during the drag operation. This allows the user
 * to see where he is dropping his element, even if the element is huge. The
 * .dndDragging class is automatically set during the drag operation.
 */
.dndDragging {
    opacity: 0.7;
}

/**
 * The dndDraggingSource class will be applied to the source element of a drag
 * operation. It makes sense to hide it to give the user the feeling that he's
 * actually moving it. Note that the source element has also .dndDragging class.
 */
.dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be added as child of the dnd-list
 * while the user is dragging over it.
 */
.dndPlaceholder {
    background-color: #ddd;
    min-height: 42px;
    display: block;
    position: relative;
    margin: 10px;
}

/**
 * Tasks
 */
.task-list-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 10px;
    padding: 0 5px;
}

task-list {
    min-width: 285px;
    width: 20%;
    margin-right: 5px;
    margin-left: 5px;
}

.task-list {
    background-color: #e2e4e6;
    overflow: hidden;
    width: 100%;
}

.task-list md-toolbar {
    border-radius: 2px 2px 0 0;
}

.task-list md-toolbar,
.task-list .md-toolbar-tools {
    height: 50px;
    min-height: 50px;
}

.task-list md-list {
    overflow-y: auto;
    padding: 0;
}

.new-board .md-errors-spacer {
    display: none;
}

a {
    text-decoration: none;
}

.task-list md-card md-card-header:last-child md-card-avatar {
    margin-left: 0;
}

.form-error {
    color: red;
}

.add-modal-dialog {
    min-width: 500px;
}

.task-priority {
    height: 10px;
    width: 30px;
    position: absolute;
    right: 6px;
    top: 6px;
    border-radius: 3px;
}

.task-priority-LOW {
    background-color: #FFEB3B;
}

.task-priority-MEDIUM {
    background-color: #FBC02D;;
}

.task-priority-HIGH {
    background-color: #FF5722;
}

.task-priority-URGENT {
    background-color: #D50000;
}

.task-icons-container {
    position: absolute;
    bottom: 4px;
    right: 8px;
}

.task-icons-container span {
    margin-left: 5px;
}

.task-icons {
    font-size: 16px !important;
    height: 16px;
    width: 16px;
    min-height: 16px;
    min-width: 16px;
}

.task-comments-list .md-3-line {
    min-height: 0;
}

.task-comments-new-comment {
    margin-top: 50px;
}

.task-assigned-to-label {
    color: rgba(0,0,0,0.54);
    font-size: 12px;
    padding-left: 3px;
    padding-right: 0;
    margin-bottom: 6px;
    z-index: 1;
    right: auto;
}

.social,
.social md-icon {
    color: #fff !important;
}

.social-facebook {
    background-color: #3b5998 !important;
}

.social-facebook:not([disabled]):hover {
    background-color: #4c70ba !important;
}

.social-twitter {
    background-color: #0084b4 !important;
}

.social-twitter:not([disabled]):hover {
    background-color: #00a9e7 !important;
}

.social-google-plus {
    background-color: #d34836 !important;
}

.social-google-plus:not([disabled]):hover {
    background-color: #dc6e60 !important;
}

.task-list md-card {
    margin: 8px 0 !important;
}

.task-list li {
    margin: 8px !important;
}

.autocomplete-user-image {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    margin: 8px 8px 8px 0;
}

.home-board-item {
    text-decoration: none;
    color: #666;
    font-weight: bold;
}

.home-board-add a {
    text-decoration: none;
    color: #f36;
    font-weight: bold;
}

.notif-count::after {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 16px;
    height: 16px;
    content: attr(data-count);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 600;
    font-size: 12px;
    border-radius: 50%;
    background: #ff4081;
    color: #fff;
}
