<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
     <link rel="icon" href="/images/favicon.png" sizes="16x16 32x32 48x48 64x64" type="image/vnd.microsoft.icon">

    <title>Scrum Board</title>

    <!-- Concatenated CSS -->
    <link href="/dest/lib.css?rev=7b592eb39147fe70ddecd8ad1f8553dd" rel="stylesheet">
    <link href="/dest/app.css?rev=d233d2b2943a7208f702d889a4aa2255" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app="scrum-board-frontend" ng-cloak class="ng-cloak">

<div class="app-container" ng-controller="AuthController" ng-show="show">
    <navbar ng-if="authenticated"></navbar>
    <div ng-show="authenticated">
        <div ui-view ng-if="authenticated"></div>
    </div>
    <landing-page ng-if="!authenticated"></landing-page>
</div>

<!-- Concatenated libraries -->
<script src="/dest/lib.js?rev=4e22cc6b406fe6a35378bca729ae255a"></script>
<!-- Concatenated application -->
<script src="/dest/src.js?rev=46240739526b7354f2fcf8cad6b1fbc0"></script>
<!-- All html templates -->
<script src="/dest/templates.js?rev=0178ecba47b27d1a62cffdead3de9263"></script>
</body>
</html>
