<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
     <link rel="icon" href="/images/favicon.png" sizes="16x16 32x32 48x48 64x64" type="image/vnd.microsoft.icon">

    <title>Scrum Board</title>

    <!-- Concatenated CSS -->
    <link href="/dest/lib.css?rev=dd6fe8053d669fb8dd8a7f07f5668b73" rel="stylesheet">
    <link href="/dest/app.css?rev=fb1f11c04eb26dac452da309614eb468" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app="scrum-board-frontend" ng-cloak class="ng-cloak">

<div class="app-container" ng-controller="AuthController" ng-show="showapp" layout="column">
    <navbar ng-if="authenticated"></navbar>
    <div ng-show="authenticated" flex layout>
        <div ui-view ng-if="authenticated" flex layout></div>
    </div>
    <landing-page ng-if="!authenticated" flex layout></landing-page>
</div>

<!-- Concatenated libraries -->
<script src="/dest/lib.js?rev=6c662fe6b693b8dbf695b7c38400307e"></script>
<!-- Concatenated application -->
<script src="/dest/src.js?rev=c6a6eb42b07f6d5a338b4ca661352401"></script>
<!-- All html templates -->
<script src="/dest/templates.js?rev=945772f857c2a06f65802aa3c5e94916"></script>
</body>
</html>
