<div flex>
    <div layout layout-wrap>
        <div flex="33" ng-repeat="b in boards">
            <md-card>
                <a ng-href="#/b/{{b.slug}}">
                    <md-card-content class="home-board-item">
                        {{b.name}}
                    </md-card-content>
                </a>
            </md-card>
        </div>
        <div flex="33">
            <md-card>
                <md-card-content layout class="home-board-add">
                    <a href="" ng-click="showAdd()" ng-show="!showForm" flex>Add new board</a>
                    <md-input-container ng-show="showForm" class="m0 new-board" flex="80">
                        <label>Board name</label>
                        <input type="text" ng-model="data.name" ng-keydown="keyDown($event)" focus="{{showForm}}">
                    </md-input-container>
                    <div flex="20" layout="row" ng-show="showForm">
                        <md-button class="md-icon-button md-primary" ng-click="addBoard()">
                            <md-icon style="font-size: 18px">done</md-icon>
                        </md-button>
                        <md-button class="md-icon-button md-warn" ng-click="onBlur()">
                            <md-icon style="font-size: 18px">close</md-icon>
                        </md-button>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>
