<div class="landing-page-background" layout="column" flex>
    <div class="landing-page-content" layout-align="center center" flex layout="column">
        <h1 class="md-headline m0 mb10">scrum-board</h1>
        <h2 class="md-subhead m0 mb50">Manage your workflow. Create boards, sprints, assign tasks</h2>
        <h3 class="md-subhead m0">Join scrum-board and collaborate with ease</h3>
        <div layout layout-align="center center">
            <md-button href="/auth/facebook" class="md-raised social social-facebook">
                <md-icon md-svg-src="images/social/facebook-box.svg"></md-icon>
                Facebook
            </md-button>
            <md-button href="/auth/google" class="md-raised social social-google-plus">
                <md-icon md-svg-src="images/social/google-plus-box.svg"></md-icon>
                Google Plus
            </md-button>
            <md-button href="/auth/twitter" class="md-raised social social-twitter">
                <md-icon md-svg-src="images/social/twitter-box.svg"></md-icon>
                Twitter
            </md-button>
        </div>
    </div>
</div>