<md-card ng-click="showTaskDetails($event)">
    <md-card-header>
        <span class="task-priority {{ 'task-priority-' + task.priority}}" title="{{task.priority | capitalize}}"></span>
        <md-card-avatar>
            <img class="md-user-avatar" ng-src="{{task.assignedTo.imageUrl}}"/>
        </md-card-avatar>
        <md-card-header-text>
            <span class="md-title">{{task.name | limitTo:20}}{{task.name.length > 20 ? '…' : ''}}</span>
            <span class="md-subhead">{{task.description | limitTo:20}}{{task.description.length > 20 ? '…' : ''}}</span>
        </md-card-header-text>
    </md-card-header>
    <span class="task-icons-container">
        <span><md-icon class="task-icons">comment</md-icon> {{task.comments.length}}</span>
        <span><md-icon class="task-icons">build</md-icon> {{task.difficulty | capitalize}}</span>
    </span>
</md-card>