<md-dialog>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Create new Sprint</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Sprint</label>
                        <input ng-model="sprint.name">
                    </md-input-container>
                </div>
                <div layout="row" layout-margin>
                    <md-datepicker flex ng-model="sprint.fromDate"
                                   md-placeholder="Enter from date">
                    </md-datepicker>
                    <md-datepicker flex ng-model="sprint.toDate"
                                   md-placeholder="Enter to date">
                    </md-datepicker>
                </div>
                <div layout="row" layout-align="center center" ng-show="error">
                    <div class="form-error">{{ error }}</div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            <md-button ng-click="add()">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>